extend layout

block content
	link(rel='stylesheet', href='/js/lib/flot/examples/examples.css')
	script(src="/js/lib/flot/jquery.js")
	script(src="/js/lib/flot/jquery.flot.js")
	script(src="/js/grafica.js")
	#content
		#demo-container(class="demo-container")
			#placeholder(class="demo-placeholder")
		input(id="updateInterval" type="text" value="" style="text-align: right; width:5em")
	