extend layout

block content
	span(class="icon icon-hotels")
	span(class="icon icon-cars")
	span(class="icon icon-cruises")
	span(class="icon icon-buses")
	span(class="icon icon-transfers")
	span(class="icon icon-flights")
	span(class="icon icon-circuits")
	span(class="icon icon-tours")
	span(class="icon icon-packages")

	