extend layout


block content
    

   
   
   #map
   script(src="./js/functions.js")
   script(type='text/javascript').
    //var socket= io();//io.connect('http://localhost:8080');//io();//io(); 
    socket.on('connect', function() {
      console.log('--- socket.on connect');
    });
    
    
   script(src="./js/map.js")
   script(src="./js/newConnection.js")
   //script(src="./js/connection_1.js")
 