extend layout

block content
	//table
	fieldset(class="coords")
			
		
		
		button.btn(id="btn") Enviar Datos
		//button.btn(id="btnStop") Detener Envio
		
	script(src="./js/datos.js")
	script(type='text/javascript').
		var interval;
		var destinoRand;
		function enviar(){
			
			setInterval(function(){
				var userId = Math.random().toString(16).substring(2,15);
				var xServicio = Math.floor((Math.random() * 9) + 1);
				if (xServicio!=9){
				   destinoRand = normalCoord[Math.floor((Math.random() * normalCoord.length-2) + 1)];
				}
				else{
				   destinoRand = circuitoCoord[Math.floor((Math.random() * 2) )];
				   console.log("circuitoCoord: "+destinoRand);
				}

				var canalRand = Math.floor((Math.random() * 3) + 1);
				// mark user's position
				
				sentData = {
							tipoServicio: xServicio,
							destino: destinoRand,
							canal:canalRand,
							informacion:{
								 titulo:"Prueba "+"Canal "+ canalRand,
								 ciudadOrigenVenta: "Cancún",
								 descripcion:"descripcion prueba"
					 		}	 
							
						};


				socket.emit('intervalCoords', sentData);
			
				console.log(sentData);

			},1000);

		}
		$("#btn").click( interval=enviar());
		//$("#btnStop").click(clearInterval(interval))
