extend layout

block content
	//table
	fieldset(class="coords")
			
		
		
		button.btn(id="btn") Enviar Datos
		//button.btn(id="btnStop") Detener Envio
		
	//script(src="./js/datos.js")
	script(src="./data/reservas2.js")
	script(type='text/javascript').
		var interval,tiempoEnvio;
		var destinoRand;
		var index = 0;
		var totalServicios ={};
		for(var i in reservas){
			if(!(reservas[i].tipoServicio.toString() in totalServicios)){
				totalServicios[reservas[i].tipoServicio.toString()]=1; 
			}
			totalServicios[reservas[i].tipoServicio.toString()]+=1; 

		}
		console.log(totalServicios);
		tiempoEnvio=36000,interval;
		socket.on('config:client', function(data) {

			tiempoEnvio=data.ventas*1000;
			
		});
		function getData(){
			var userId = Math.random().toString(16).substring(2,15);

			var history = reservas;
		
			if ( index == history.length){
				index = 0;
				
				
			}
			
			data = history[index]; 
			

			
			data.id = userId;
			socket.emit('intervalCoords', data);
			//console.log(sentData);
			console.log(tiempoEnvio);
			console.log(data);
			clearInterval(interval);
			interval = setInterval(getData,tiempoEnvio);
			index+=1;
		};
		
		interval = setInterval(getData,tiempoEnvio);	
